<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58433003-e71a-4cca-9ae7-4b41e3e57bbf" Alias="generalContent" Level="2">
  <Info>
    <Name>General Content</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a38d2388-e2cf-45ac-bd6d-0de7f234d29d">contentBlocks</Composition>
      <Composition Key="cf06b5f9-2038-453a-910f-9ae0d31635ee">pageMeta</Composition>
    </Compositions>
    <DefaultTemplate>GeneralContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bb53b1fb-8e0f-4107-8855-26262cbf4561">GeneralContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>