<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="635a92ac-77ed-41ba-98e9-f65af545194c" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a38d2388-e2cf-45ac-bd6d-0de7f234d29d">contentBlocks</Composition>
      <Composition Key="cf06b5f9-2038-453a-910f-9ae0d31635ee">pageMeta</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="812ac4ca-3110-4a96-b48c-bbd6453cc970">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="58433003-e71a-4cca-9ae7-4b41e3e57bbf" SortOrder="0">generalContent</ContentType>
    <ContentType Key="51d5e80d-50e8-46a0-93dc-4d61bec6dbbc" SortOrder="1">register</ContentType>
    <ContentType Key="ed3992ac-9408-4c65-93ff-efcdea853d0c" SortOrder="2">login</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>