<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="51d5e80d-50e8-46a0-93dc-4d61bec6dbbc" Alias="register" Level="2">
  <Info>
    <Name>Register</Name>
    <Icon>icon-lock color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cf06b5f9-2038-453a-910f-9ae0d31635ee">pageMeta</Composition>
    </Compositions>
    <DefaultTemplate>Register</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="48dbbafa-22ce-49b0-93a5-2d494f57ef8b">Register</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>